@charset "UTF-8";
@import "components/CropTool.scss";


#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 50px;
    video {
        margin-bottom: 10px;
    }
}